body,
html {
    height: 100%;
}
body,
img {
    display: flex;
}
.button,
body {
    line-height: 1.5;
}
.footernav,
.sitenav__list-item {
    letter-spacing: 2px;
    text-transform: uppercase;
}
.button,
.footernav,
.sitenav__list-item {
    text-transform: uppercase;
}
@font-face {
    font-display: swap;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/open-sans/open-sans-v35-latin-regular.woff2")
        format("woff2");
}
@font-face {
    font-display: swap;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/open-sans/open-sans-v35-latin-600.woff2") format("woff2");
}
@font-face {
    font-display: swap;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/open-sans/open-sans-v35-latin-700.woff2") format("woff2");
}
@font-face {
    font-display: swap;
    font-family: "Open Sans Condenced";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/open-sans-condensed/OpenSans-CondBold.woff2")
        format("woff2");
}
:root {
    --font-family: "Open Sans", "Arial", sans-serif;
    --text-color: #222222;
    --brand-color: #0eb4c1;
    --white-color: #fff;
    --primary-red-color: #de2e54;
}
*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    flex-direction: column;
    font-family: var(--font-family);
    font-size: 1.6rem;
    color: var(--text-color);
    font-weight: 400;
}
main {
    flex-grow: 1;
}
h1 {
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
    display: inline-block;
}
ol,
ul {
    list-style-type: none;
}
button {
    outline: 0;
    border: none;
}
.container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 2rem;
}
.button {
    background: var(--primary-red-color);
    border: 2px solid var(--primary-red-color);
    border-radius: 8px;
    color: var(--white-color);
    font-family: "Open Sans Condenced";
    padding: 1.2rem 2.4rem;
    font-weight: 700;
    font-size: 1.5;
    transition: 0.5s;
}
.active,
.button:hover,
.header__link:hover,
.sitenav__list-item:hover {
    color: var(--primary-red-color);
}
.button:hover {
    background: var(--white-color);
}
.header__container {
    padding-top: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 2.5rem;
}
.header__link,
.sitenav__list {
    align-items: center;
    display: flex;
}
.header__link {
    gap: 1.6rem;
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 1.375;
}
.sitenav__list {
    gap: 3.2rem;
}
.sitenav__list-item {
    font-weight: 700;
    font-size: 1.4rem;
}
.header__button {
    font-size: 1.5rem;
}
.footer-top,
.hero {
    background: var(--brand-color);
}
.hero__container {
    padding-top: 2.9rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--white-color);
}

.hero__info {
    width: 500px;
}
.hero__info-title {
    font-family: "Open Sans Condenced";
    font-weight: 700;
    font-size: 3.6rem;
    line-height: 1.2;
    margin-bottom: 1.6rem;
    /* width: 50rem; */
}

.hero__info-text {
    font-size: 1.8rem;
    width: 440px;
    margin-bottom: 3.6rem;
}
.service__container {
    padding-top: 12rem;
    padding-bottom: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.service__title {
    font-family: "Open Sans Condenced";
    font-weight: 700;
    font-size: 3.6rem;
    line-height: 1.2;
    margin-bottom: 5.6rem;
}
.service__cards {
    display: flex;
    flex-direction: column;
    gap: 8rem;
    margin-bottom: 4rem;
}
.service__card {
    display: flex;
    width: 864px;
    gap: 6.4rem;
}

.service__card img {
    border-radius: 24px;
    box-shadow: 0px 12px 24px -8px rgba(0, 107, 116, 0.3);
}
.service__card-info {
    padding-top: 2.5rem;
}
.service__card-info-title {
    font-family: "Open Sans Condenced";
    margin-bottom: 2.4rem;
    font-size: 2.4rem;
    line-height: 1.2;
}
.service__card-info-text {
    color: #444;
    text-align: left;
}
.footer-top__container {
    font-family: "Open Sans Condenced";
    padding-top: 6.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 6.4rem;
    color: var(--white-color);
}
.footer-top__title {
    font-weight: 700;
    font-size: 3.6rem;
    line-height: 1.2;
    margin-bottom: 4rem;
}
.footer-top__btn-list {
    display: flex;
    gap: 4rem;
}
.footer-top__btn {
    font-size: 1.5rem;
    line-height: 1.2;
    border: 2px solid #fff;
    border-radius: 8px;
    padding: 1.2rem 2.4rem;
}
.footer-top__btn:hover {
    border-color: var(--primary-red-color);
    background: var(--primary-red-color);
    color: var(--white-color);
}
.footer-bottom {
    background: #222;
}
.footer-bottom__container {
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
    color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__link {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 1.375;
}
.footer__link:hover,
.footernav__item:hover {
    color: var(--primary-red-color);
}
.footernav {
    display: flex;
    align-items: center;
    gap: 3.2rem;
}
